# Docker / compose ports
BACKEND_PORT=8000
FRONTEND_PORT=8080
DB_PORT=5433

# PROJECT INIT
PROJECT_NAME=Body_Fat_Percentage_Predictor
PROJECT_VERSION=1.0.0

# APP START UP
APP_MAIN=main:app

# API URLS
API_V1_STR=/api
APP_BASE_URL=http://localhost:8000
API_PREFIX=/api

# API SECURITY
API_KEY=7kLmP2qRnX8vJ3tY6uB4cF1wG9hZ5aC2dE4fH6jK8mN0pQ2rS4tU6vW8xY
ALLOWED_ORIGINS=["http://localhost:8080"]
ALLOWED_HOSTS=["localhost","127.0.0.1"]
ALLOW_METHODS=["GET","POST","OPTIONS"]
ALLOW_HEADERS=["X-API-Key","Content-Type"]
EXPOSE_HEADERS=["*"]
MAX_AGE=600
CALLS_PER_MINUTE=60

# DEVELOPMENT
ENVIRONMENT=development
DEBUG=False
DOCS=False

# DB CREDENTIALS
POSTGRES_DB=fat_prediction_service_db
POSTGRES_USER=fat_app_user
POSTGRES_PASSWORD=7kLmP2qRnX!vJ3tY*6uB

# IMPORTANT:
# Use the Docker service name "db" here, not localhost.
SQLALCHEMY_DATABASE_URL=postgresql+psycopg2://fitness_user:fitness_password@db:5432/fat_prediction_service_db

# DB ATTRIBUTES
DB_SSL_MODE=disable
DB_POOL_PRE_PING=True
DB_POOL_SIZE=5
DB_MAX_OVERFLOW=10
DB_POOL_RECYCLE=1800
DB_ECHO=False

# DB INSTANCES
REQUIRED_TABLES=["prediction_history","prediction_feedback"]

# MODELS
MODEL_VERSION=1.0.0

# FRONTEND BUILD VARIABLES
VITE_API_BASE_URL=http://localhost:8000
VITE_API_KEY=7kLmP2qRnX8vJ3tY6uB4cF1wG9hZ5aC2dE4fH6jK8mN0pQ2rS4tU6vW8xY