.env
.env.*
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

app/logs/
app/tests/
*.log

.venv/
venv/
env/

.git
.gitignore

app/ml/Final_data.csv
app/mp/loading_script.py
app/models/regressors/test.py