# back_end/.env

# PROJECT INIT
PROJECT_NAME=Body_Fat_Percentage_Predictor
PROJECT_VERSION=1.0.0

# APP START UP
APP_MAIN=main:app
APP_HOST=replace-me
APP_PORT=replace-me

# API URLS
API_V1_STR=replace-me
APP_BASE_URL=replace-me
API_PREFIX=replace-me

# API SECURITY
API_KEY=replace-me
ALLOWED_ORIGINS=replace-me
ALLOWED_HOSTS=replace-me
ALLOW_METHODS=replace-me
ALLOW_HEADERS=replace-me
EXPOSE_HEADERS=replace-me
MAX_AGE=replace-me
CALLS_PER_MINUTE=replace-me

# DEVELOPMENT
ENVIRONMENT=NONE
DEBUG=False
DOCS=False

# DB CREDENTIALS
POSTGRES_DB=replace-me
POSTGRES_USER=replace-me
POSTGRES_PASSWORD=replace-me
POSTGRES_HOST=replace-me
POSTGRES_PORT=replace-me
SQLALCHEMY_DATABASE_URL=postgresql+psycopg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}/${POSTGRES_DB}

# DB ATTRIBUTES
DB_SSL_MODE=replace-me
DB_POOL_PRE_PING=replace-me
DB_POOL_SIZE=replace-me
DB_MAX_OVERFLOW=replace-me
DB_POOL_RECYCLE=replace-me
DB_ECHO=replace-me

# DB INSTANCES
REQUIRED_TABLES=replace-me

# MODELS
MODEL_VERSION=1.0.0